.topcontainer{
  background-color:#E4F9F5;
  padding-top: 120px;
  line-height: 2;
}

.middle-container{
margin-bottom: 200px;
margin-top: 50px;

}
.bottom-container{
background-color: #66BFBF;
margin-bottom: 0;
padding: 50px 0 20px;
}
body{
  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;

color: #FD7792
}
h1{
margin-top: 50px,auto,0,auto;
font-size:5.625rem;
font-family: 'Sacramento', cursive;
color: #66BFBF;
}
h2{
  font-size: 3rem;
  color: #66BFBF;
font-family: 'Montserrat', sans-serif;}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
  font-size: 1.5em;
}
.bottomcloud{
  position: absolute;
  left: 50px;
  top: 120px;
}
.topcloud{
  position: absolute;
  right: 70px;
  top: 60px;
}
img{
border-radius: 80%}
.laptop{
  border-radius: 20%;
  width: 18%;
  margin-right: 30px;
  margin-left: 400px;
  float: left;
}
a{
  color: #11999E;
  margin: 0 20px 0;
  padding: 20px 0 50px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #EAF6F6;
}
.programmer{
  font-weight: normal;
}
.hello{
  font-size: 3em;
}
hr{
  border-style:none;
  border-top-style:dotted;
  border-color: grey;
border-width: 5px;
  width: 10%;
margin-bottom: 100px;
margin-top: 100px;
}
.skillrow1{
  text-align:left;
  line-height: 2;
  margin-right: 450px;

}
.skillrow2{
  text-align: right;
  line-height: 2;
margin-left: 350px;
margin-right: auto;
}
.world{
  float: right;
  width: 18%;
  margin-left: 30px;
  margin-right: 350px;;
}
.salutation{
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0 5px;
}
.btn {
	background-color:#3795fa;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:16px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 2;
}
.help{
  width: 30%;
  margin: auto;
  margin-bottom: 100px;
  line-height: 2;
}
.profilepic{
  height: 300px;
}
p{
  font-size: 1.2em;
}
